.video-preview {
    display:inline-block;
}

.VIDEO-Pic {
    display:inline-block;
    margin-bottom:8px;
    position:relative;
}
.video-picture {
    border-radius:10px;
    width:100%;
}
.video-time {
    font-family:Roboto,Arial;
    font-size:12px;
    font-weight:500;
    padding-left:4px;
    padding-right:4px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:2px;
    background-color: black;
    color:white;
    position:absolute;
    bottom:10px;
    right:6px;
}

.CHANNEL-INFO {
    height:100px;
    display:grid;
    grid-template-columns:50px 1fr;
}
.Channel-profile {
    display:inline-block;
    vertical-align: top;
    width:42px;
}
.channel-image {
    width:36px;
    border-radius:50px;
}
.video-info {
    display:inline-block;
    width:292px;
}
.title {
    font-weight:500;
    font-size:14px;
    margin-bottom:8px;
    line-height:20px;
    margin-top:0;
    margin-bottom:10px;
}
.author,
.stats {
    color:#606060;
    font-weight:400;
    font-size:12px;
    margin-bottom:4px;
}
.grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr; 
    column-gap:20px;
    row-gap:15px;
}